In [1]:
import snowflake.connector

In [2]:
ctx = snowflake.connector.connect(
    user='SONYSONY',
    password='bboonnooOO7',
    account='DZ67151.ap-southeast-1',
    database = 'TRAININGDB'
    )

In [3]:
cs = ctx.cursor()

In [5]:
cs.execute("select * from TRAININGDB.TRAINGSCHEMA.PERSONS")
myresult = cs.fetchall()

for x in myresult:
  print(x)

(1, 'Stavanger', 'Tom B.', 25)
(2, 'CN', 'Jerry.', 20)

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('snowflake://SONYSONY:bboonnooOO7@DZ67151.ap-southeast-1/TRAININGDB/TRAINGSCHEMA').connect()

In [13]:
import pandas as pd

In [16]:
dfs = pd.read_sql('persons',engine)
dfs
# change the table name into lowercaswe

   personid   lastname firstname   age
0       1.0  Stavanger    Tom B.  25.0
1       2.0         CN    Jerry.  20.0

In [17]:
dfs.set_index('personid')

           lastname firstname   age
personid
1.0       Stavanger    Tom B.  25.0
2.0              CN    Jerry.  20.0