In [1]:
# data_range
# timestamp
# to_datetime

In [2]:
import pandas as pd
import datetime as dt

In [3]:
aa = pd.Timestamp(2020,4,12)
aa.day_name()
aa

Timestamp('2020-04-12 00:00:00')

In [4]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [15]:
some = dt.date(2020,4,12)
dir(some)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [12]:
some.day

12

In [15]:
ti = dt.datetime(2020,4,12)#24 time format#if time is not provide deafault is mid night 0:0:0
ti

datetime.datetime(2020, 4, 12, 0, 0)

In [16]:
str(ti)

'2020-04-12 00:00:00'

In [17]:
ti.second

0

In [18]:
#pandas time

In [19]:
pd.Timestamp('2012-04-1')#yyyy or mm

Timestamp('2012-04-01 00:00:00')

In [20]:
pd.Timestamp('2020-4-12 6:00 pm')

Timestamp('2020-04-12 18:00:00')

In [21]:
pd.Timestamp(dt.date(2020,4,2))

Timestamp('2020-04-02 00:00:00')

In [23]:
# date time index '-' is default
dates = ['2012/01/01','2013-01-01','2015-01-10']
pd.DatetimeIndex(dates)

DatetimeIndex(['2012-01-01', '2013-01-01', '2015-01-10'], dtype='datetime64[ns]', freq=None)

In [24]:
da = [dt.date(2004,4,2),dt.date(2020,4,2),dt.date(2022,4,2)]
daa = [100,200,300]
s = pd.Series(daa,da)
s

2004-04-02    100
2020-04-02    200
2022-04-02    300
dtype: int64

In [7]:
pd.to_datetime('2020-4-12 6:00 pm')
pd.Timestamp('2020-october-12 6:00 pm')

Timestamp('2020-10-12 18:00:00')

In [26]:
pd.to_datetime('2020-october-12 6:00 pm')

Timestamp('2020-10-12 18:00:00')

In [22]:
s1 = pd.Series(['2020-october-12','2016'])

In [23]:
s1

0    2020-october-12
1               2016
dtype: object

In [25]:
pd.to_datetime(s1)

0   2020-10-12
1   2016-01-01
dtype: datetime64[ns]

In [35]:
s2 = pd.Series(['2020-october-12','2016','hey','2002-02-31'])
s2

0    2020-october-12
1               2016
2                hey
3         2002-02-31
dtype: object

In [36]:
pd.to_datetime(s2)

ParserError: Unknown string format: hey

In [37]:
pd.to_datetime(s2,errors='coerce')

0   2020-10-12
1   2016-01-01
2          NaT
3          NaT
dtype: datetime64[ns]

In [38]:
pd.to_datetime(1349720105,unit='s')

Timestamp('2012-10-08 18:15:05')

In [39]:
#date range

In [34]:
t = pd.date_range(start='2021-01-01', end='2021-01-10', freq='2D')
t#required 2 parameters no giving end date < strt date it will retuen empty list

DatetimeIndex(['2021-01-01', '2021-01-03', '2021-01-05', '2021-01-07',
               '2021-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [38]:
import numpy as np
df = pd.DataFrame({'array':np.arange(0,10,2),'array2':np.linspace(2,5,5)})
df['time']= pd.date_range(start='2021-01-01', end='2021-01-10', freq='2D')
df

   array  array2       time
0      0    2.00 2021-01-01
1      2    2.75 2021-01-03
2      4    3.50 2021-01-05
3      6    4.25 2021-01-07
4      8    5.00 2021-01-09

In [46]:
t[0]

Timestamp('2021-01-01 00:00:00', freq='D')

In [47]:
pd.date_range(start='2021-01-01', end='2021-01-10', freq='2D')#2 day increment 'B' is for buisness day 'W' first date of week by sunday
# to set w as our start week day 'W-FRI' #this is make friday as starting week day, 'H' for hrs, '6H ' in crement of 6 hrs
#'M' month retuen last day of each month, 'MS' moth start date,
#'A' year end,'AS' year starting date

DatetimeIndex(['2021-01-01', '2021-01-03', '2021-01-05', '2021-01-07',
               '2021-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [49]:
pd.date_range(start='2021-01-01', end='2029-12-31', freq='AS')

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01',
               '2025-01-01', '2026-01-01', '2027-01-01', '2028-01-01',
               '2029-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [50]:
#period

In [51]:
pd.date_range(start='2021-01-01', periods=20, freq='D') #period is + the start date

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

In [52]:
# starting with end

In [53]:
pd.date_range(end='2021-01-01', periods=20, freq='D')

DatetimeIndex(['2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01'],
              dtype='datetime64[ns]', freq='D')

In [55]:
# dt accessor

In [68]:
daata= pd.date_range(start='2021-01-01',end='2021-12-31', freq='24D')
s3 = pd.Series(daata)
s3

0    2021-01-01
1    2021-01-25
2    2021-02-18
3    2021-03-14
4    2021-04-07
5    2021-05-01
6    2021-05-25
7    2021-06-18
8    2021-07-12
9    2021-08-05
10   2021-08-29
11   2021-09-22
12   2021-10-16
13   2021-11-09
14   2021-12-03
15   2021-12-27
dtype: datetime64[ns]

In [69]:
s3.dt.weekday

0     4
1     0
2     3
3     6
4     2
5     5
6     1
7     4
8     0
9     3
10    6
11    2
12    5
13    1
14    4
15    0
dtype: int64

In [70]:
s3.dt.is_quarter_start

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool

In [39]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [40]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.493389
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,23.855658
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,23.863365
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.716913
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.470264
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,220.442566
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,222.629654
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,221.828049
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,219.383652
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.115967

In [11]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [42]:
stocks.loc['2009-12-31']
#better to use pd 
stocks.loc[pd.Timestamp('2009-12-31')]

High         3.099000e+01
Low          3.048000e+01
Open         3.098000e+01
Close        3.048000e+01
Volume       3.192970e+07
Adj Close    2.349339e+01
Name: 2009-12-31 00:00:00, dtype: float64

In [14]:
stocks.loc[['2009-12-31','2020-12-24']]

                  High         Low        Open   Close      Volume   Adj Close
Date
2009-12-31   30.990000   30.480000   30.980000   30.48  31929700.0   23.541971
2020-12-24  223.610001  221.199997  221.419998  222.75  10550600.0  220.898376

In [15]:
stocks.loc[[pd.Timestamp('2009-12-31'),pd.Timestamp('2020-12-24')]]

                  High         Low        Open   Close      Volume   Adj Close
Date
2009-12-31   30.990000   30.480000   30.980000   30.48  31929700.0   23.541971
2020-12-24  223.610001  221.199997  221.419998  222.75  10550600.0  220.898376

In [16]:
stocks.loc['2020-01-12':'2020-01-31']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-13,163.309998,161.259995,161.759995,163.279999,21626500.0,160.225342
2020-01-14,163.600006,161.720001,163.389999,162.130005,23477400.0,159.096863
2020-01-15,163.940002,162.570007,162.619995,163.179993,21417900.0,160.127213
2020-01-16,166.240005,164.029999,164.350006,166.169998,23865400.0,163.061295
2020-01-17,167.470001,165.429993,167.419998,167.100006,34371700.0,163.973892
2020-01-21,168.190002,166.429993,166.679993,166.500000,29517200.0,163.385101
2020-01-22,167.490005,165.679993,167.399994,165.699997,24138800.0,162.600082
2020-01-23,166.800003,165.270004,166.190002,166.720001,19680800.0,163.600998
2020-01-24,167.529999,164.449997,167.509995,165.039993,24918100.0,161.952423
2020-01-27,163.380005,160.199997,161.149994,162.279999,32078100.0,159.244049
2020-01-28,165.759995,163.070007,163.779999,165.460007,24899900.0,162.364563
2020-01-29,168.750000,165.690002,167.839996,168.039993,34754500.0,164.896301
2020-01-30,174.050003,170.789993,174.050003,172.779999,51597500.0,169.547623
2020-01-31,172.399994,169.580002,172.210007,170.229996,36142700.0,167.045319

In [17]:
stocks.truncate(before='2020-01-01',after='2020-01-31')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,157.615112
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,155.652542
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,156.054871
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,154.631989
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,157.095047
2020-01-09,162.220001,161.029999,161.839996,162.089996,21385000.0,159.057602
2020-01-10,163.220001,161.179993,162.820007,161.339996,20725900.0,158.321640
2020-01-13,163.309998,161.259995,161.759995,163.279999,21626500.0,160.225342
2020-01-14,163.600006,161.720001,163.389999,162.130005,23477400.0,159.096863
2020-01-15,163.940002,162.570007,162.619995,163.179993,21417900.0,160.127213
2020-01-16,166.240005,164.029999,164.350006,166.169998,23865400.0,163.061295
2020-01-17,167.470001,165.429993,167.419998,167.100006,34371700.0,163.973892
2020-01-21,168.190002,166.429993,166.679993,166.500000,29517200.0,163.385101
2020-01-22,167.490005,165.679993,167.399994,165.699997,24138800.0,162.600082
2020-01-23,166.800003,165.270004,166.190002,166.720001,19680800.0,163.600998
2020-01-24,167.529999,164.449997,167.509995,165.039993,24918100.0,161.952423
2020-01-27,163.380005,160.199997,161.149994,162.279999,32078100.0,159.244049
2020-01-28,165.759995,163.070007,163.779999,165.460007,24899900.0,162.364563
2020-01-29,168.750000,165.690002,167.839996,168.039993,34754500.0,164.896301
2020-01-30,174.050003,170.789993,174.050003,172.779999,51597500.0,169.547623
2020-01-31,172.399994,169.580002,172.210007,170.229996,36142700.0,167.045319

In [19]:
#microsoft srock on my birthday
birth = pd.date_range(start='1997-10-01',end='2020-12-31',freq=pd.DateOffset(years = 1))

In [24]:
births = stocks.index.isin(birth)

In [25]:
stocks[births]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-10-01,24.820000,24.299999,24.770000,24.379999,62672300.0,19.105276
2012-10-01,29.980000,29.420000,29.809999,29.490000,54042700.0,24.344442
2013-10-01,33.610001,33.299999,33.349998,33.580002,36718700.0,28.577549
2014-10-01,46.529999,45.849998,46.270000,45.900002,38088400.0,40.182777
2015-10-01,44.750000,43.750000,44.750000,44.610001,28657900.0,40.099373
2018-10-01,115.680000,114.730003,114.750000,115.610001,18883100.0,111.313293
2019-10-01,140.250000,137.000000,139.660004,137.070007,21466600.0,134.049576
2020-10-01,213.990005,211.320007,213.490005,212.460007,27158400.0,210.143738

In [27]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [34]:
someday.month
someday.day
someday.is_month_start
someday.month_name()
someday.day_name()

'Friday'

In [18]:
dn = stocks.index.day_name()
dn

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2770)

In [17]:
stocks.insert(2,column='Dayss',value=dn)

stocks

,High,Low,Dayss,Days,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,30.990000,30.480000,Thursday,Thursday,30.980000,30.480000,31929700.0,23.541965
2010-01-04,31.100000,30.590000,Monday,Monday,30.620001,30.950001,38409100.0,23.904978
2010-01-05,31.100000,30.639999,Tuesday,Tuesday,30.850000,30.959999,49749600.0,23.912704
2010-01-06,31.080000,30.520000,Wednesday,Wednesday,30.879999,30.770000,58182400.0,23.765951
2010-01-07,30.700001,30.190001,Thursday,Thursday,30.629999,30.450001,50559700.0,23.518799
...,...,...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,Thursday,Thursday,221.419998,222.750000,10550600.0,220.898376
2020-12-28,226.029999,223.020004,Monday,Monday,224.449997,224.960007,17933500.0,223.089981
2020-12-29,227.179993,223.580002,Tuesday,Tuesday,226.309998,224.149994,17403200.0,222.286713
2020-12-30,225.630005,221.470001,Wednesday,Wednesday,225.229996,221.679993,20272300.0,219.837250
2020-12-31,223.000000,219.679993,Thursday,Thursday,221.699997,222.419998,20942100.0,220.571106

In [40]:
stocks.insert(2,column='Start of month',value=stocks.index.is_month_start)

In [44]:
stocks[stocks['Start of month']]

,High,Days,Start of month,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,28.480000,Monday,True,27.920000,28.389999,28.410000,85931100.0,21.943148
2010-03-01,29.049999,Monday,True,28.530001,28.770000,29.020000,43805400.0,22.519114
2010-04-01,29.540001,Thursday,True,28.620001,29.350000,29.160000,74768100.0,22.627758
2010-06-01,26.309999,Tuesday,True,25.520000,25.530001,25.889999,76152400.0,20.180937
2010-07-01,23.320000,Thursday,True,22.730000,23.090000,23.160000,92239400.0,18.052935
...,...,...,...,...,...,...,...,...
2020-06-01,183.000000,Monday,True,181.460007,182.539993,182.830002,22622400.0,180.400681
2020-07-01,206.350006,Wednesday,True,201.770004,203.139999,204.699997,32061200.0,201.980087
2020-09-01,227.449997,Tuesday,True,224.429993,225.509995,227.270004,25725500.0,224.792267
2020-10-01,213.990005,Thursday,True,211.320007,213.490005,212.460007,27158400.0,210.143738
2020-12-01,217.320007,Tuesday,True,213.350006,214.509995,216.210007,30904500.0,214.412735

In [45]:
#pdDataoffset

In [46]:
stocks2 = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')
stocks2

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.541969
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904987
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912706
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765957
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518797
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898361
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286728
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [47]:
stocks2.index + pd.DateOffset(days = 5)#years,weeks, months,days,hours,minutes can all be use together

DatetimeIndex(['2010-01-05', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [48]:
stocks2.index = stocks2.index + pd.DateOffset(days = 5)
stocks2

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-05,30.990000,30.480000,30.980000,30.480000,31929700.0,23.541969
2010-01-09,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904987
2010-01-10,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912706
2010-01-11,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765957
2010-01-12,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518797
...,...,...,...,...,...,...
2020-12-29,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898361
2021-01-02,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2021-01-03,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286728
2021-01-04,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2021-01-05,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [49]:
# timeseries offset

In [50]:
#from pandas.tseries import offsets
stocks2.index + pd.tseries.offsets.MonthEnd() #note here the last date of the month will move to the next month
#ex 2020-01-31 will be 2021-01-28
#Bmonthend()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2021-01-31', '2021-01-31',
               '2021-01-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [52]:
stocks2.index + pd.tseries.offsets.MonthBegin()# tagets next month

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-02-01', '2021-02-01',
               '2021-02-01', '2021-02-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [53]:
stocks2.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [54]:
stocks2.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [55]:
#timedelta different bet. 2 time #it can be -ve

In [56]:
a = pd.Timestamp('2020-01-01')
b = pd.Timestamp('2020-02-01')

b-a

Timedelta('31 days 00:00:00')

In [57]:
a+pd.Timedelta(days =3)

Timestamp('2020-01-04 00:00:00')

In [58]:
pd.Timedelta(weeks= 8,days=4,hours=24)

Timedelta('61 days 00:00:00')

In [59]:
pd.Timedelta('5 seconds')

Timedelta('0 days 00:00:05')

In [60]:
#timedelta in Dataset

In [63]:
e = pd.read_csv('ecommerce.csv',index_col='ID',parse_dates=['order_date','delivery_date'])
e

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [66]:
a['Days'] =e['delivery_date']-e['order_date']
e

TypeError: 'Timestamp' object does not support item assignment